.sort {
    &__list {
        display: flex;
        align-items: center;
        padding-top: 30px;
    }

    &__item {

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    
    &__btn {
        padding: 5px 15px;
        border-radius: 5px;

        &.active {
            background-color: $black;
        }
    }
}